* {
  margin: 0;
  padding: 0;
}

.circles {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #a6ddcb;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  background-color: green;
  width: 630px;
  height: 630px;
  margin: -315px 0 0 -315px;
}

.circle2 {
  background-color: red;
  width: 420px;
  height: 420px;
  z-index: 1;
  margin: -220px 0 0 -220px;
}

.circle3 {
  background-color: purple;
  width: 200px;
  height: 200px;
  z-index: 2;
  margin: -100px 0 0 -100px;
}

.cursor {
  position: fixed;
  background-color: rgb(159, 159, 163);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: -7.5px 0 0 -7.5px;
  user-select: none;
  pointer-events: none;
  z-index: 20;
}

.content {
  z-index: 4;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  mix-blend-mode: screen;
}

.content h1 {
  font-size: 9rem;
}